<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>irachex | Home</title>
    <link href="/static/css/reset.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
    <script src="/static/js/jquery-1.6.4.min.js" type="text/javascript"></script>
    <script src="/static/js/doodle.js" type="text/javascript" ></script>
    <script src="/static/js/index.js" type="text/javascript"></script>
    <script src="/static/js/home.js" type="text/javascript"></script>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
</head>
<body onselectstart="return false;">
    <div id="loading_layer">
        <img src="/static/img/loading.png" id="loading_img" style="z-index:-1;display:none;" onload="showLoading('body');"/>
        <div id="loading"></div>
    </div>
    <div id="tip"></div>
    <div id="container">
        <div id="nav" class="left">
            <div id="logo">
                irachex
            </div>
            <div id="menu">
                <div class="menu_home active">
                <span class="btn btn_home">Home</span>
                </div>
                <div class="menu_about">
                <span class="btn btn_about">About</span>
                </div>
                <div class="menu_work">
                <span class="btn btn_work">Work</span>
                </div>
                <div class="menu_blog">
                <span class="btn btn_blog">Blog</span>
                </div>
            </div>
            <div id="menu_arrow"></div>
        </div>
        <div id="content" class="right">
        </div>
    </div>
</body>
</html>